.container {
  background-color: white;
  min-height: 100%;
}

#search {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #e94a54;
  border-radius: 10px;
}

#header {
  padding: 5px;
  color: #2b2929;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
}

#search-input {
  width: 50%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 10px;
  text-shadow: 2px 2px 3px #a03038;
}

#modal-button {
  float: right;
  background-color: #2b2929;
  box-shadow: 0 0 0 0.2rem white;
}

#submit {
  background-color: #2b2929;
  color: white;
}

img {
  float: left;
}

.btn-primary {
  margin-left: 10px;
}

.btn-primary,
.btn-primary:hover {
  border-color: white;
}

.btn-primary,
.btn-primary:visited {
  border-color: white;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  border-color: white;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem white;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.2rem #fff;
  display: inline;
}

.form-control {
  display: inline;
}

.icon {
  float: left;
}

.img-thumbnail {
  padding: 0.5rem;
  background-color: #fff;
  border: 2px solid #e94a54;
  margin: 10px;
  max-width: 450px;
  max-height: 300px;
  box-sizing: border-box;
}

#footer {
  border: 1px solid #585454;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #585454;
}

#footer-text {
  text-align: center;
  color: grey;
}

#recipe,
#movie {
  float: left;
  border: 1px solid #585454;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 30px;
  box-sizing: border-box;
}

.mb-0 {
  clear: both;
}

.clearfix {
  overflow: auto;
}

/* p {
  clear: both;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}  */

